:root{
    --global-font: 'Roboto',sans-serif;
    --second-font: 'Raleway',sans-serif;
    --global-text-color: #434455 ;
    --second-text-color: #2E2F42 ;
    --background-color-white: #ffffff ;
    --background-clor-grey: #F4F4FD ;
    --global-color-blue: #4D5AE5;
    --active-button: #404BBF;
    --portfolio-button: #E7E9FC;


}

body {
    font-family: var(--global-font);
    background-color:var(--background-color-white);
    color: var(--global-text-color) ;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.72px;
}

/* Header */
.link {
    text-decoration: none;
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.site-nav .link{
    font-weight: 500;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--active-button);
}

.site-nav .link.current {
    color: var(--active-button);
}

.auth-nav .link:hover,
.auth-nav .link:focus,
.auth-nav .link.current{
    color: var(--active-button);
}

.auth-nav .link{
    font-weight: 400;
    color: var(--global-text-color);
}

.list {
    list-style-type: none;
}

.address {
    font-style: normal;
}
/* Header */

/* Logo */
.logo {
    font-family: var(--second-font);
    color: var(--global-color-blue) ;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.54px;
    font-weight: 800;
    text-transform: uppercase;
}

.studio {
    color: var(--second-text-color);
}
/* Logo */


/* Hero */
.hero {
    background-color: var(--second-text-color);
}

.hero-button {
    font-family: inherit;
    background-color: var(--global-color-blue);
    color: var(--background-color-white);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.64px;
    font-weight: 500;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus{
    background-color: var(--active-button);
}

.hero-title {
    color: var(--background-color-white);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}
/* Hero */

.features-title, .products-title, .team-title{
    color: var(--second-text-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}

/* Features */

.features .title {
    color: var(--second-text-color);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.features-description {
    color: var(--global-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/* Features */

/* Team */
.team {
    background-color: var(--background-clor-grey);
}

.team-name{
    color: var(--second-text-color);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    font-weight: 500;
}

.team-position{
    color: var(--global-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.team-item{
    background-color: var(--background-color-white);
}
/* Team */

/* Footer */
.footer {
    background-color: var(--second-text-color);
}

.footer-text{
    color: var(--background-clor-grey);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer .studio {
    color: var(--background-clor-grey);
}
/* Footer */

/* Portfolio */

.portfolio-buttons{
    background-color: var(--background-clor-grey);
    color: var(--global-color-blue);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.64px;
    font-family: var(--global-font);
    font-weight: 500;
}

.portfolio-buttons:hover,
.portfolio-buttons:focus{
    background-color: var(--active-button);
    color: var(--background-color-white);
    cursor: pointer;
}

.portfolio-title{
    color: var(--second-text-color);
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.4px;
    font-weight: 500;
}

.portfolio-text {
    color: var(--global-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Portfolio */